<h1>Homes#index</h1>
<p>Find me in app/views/homes/index.html.erb</p>

<span id="indeed_at"><a title="Job Search" href="https://nz.indeed.com">jobs by <img alt=Indeed src="https://www.indeed.com/p/jobsearch.gif" style="border: 0; vertical-align: middle;"></a></span

<br/>

<form>
  First name:<br>
  <input type="text" name="firstname"><br>
  Last name:<br>
  <input type="text" name="lastname">
  <textarea onkeyup="conversion();" name="nepbox" rows="8" cols="50"></textarea>
  <br/>
  <a rel="nofollow" href="http://naya.com.np" title="Nepali Social Network" class="naya_convert">naya.com.np</a>
    <textarea></textarea>
</form>
